.btn {
    margin-right: 5px;

}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;

}

.todoForm {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-between;
    margin-right: 10px;


}
.todoForm input {
    display: flex;
}

.btnw {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btncl {
    margin-left: 10px;
}

.btn-style {
    display: flex;
}
